<!-- ======= Details Section ======= -->
<section id="portfolio-details" class="portfolio-details" data-aos="fade-up">
    <div class="container">
        <div class="section-title">
            <h2>Details</h2>
            <p>{{room.name}}</p>
        </div>
        <div class="row gy-4">

            <div class="col-lg-8">
                <div class="portfolio-details-slider swiper">
                    {{> roomGallery }}
                    <div class="swiper-pagination"></div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="portfolio-info">                  
                        <h3>Room facilities</h3>
                        <ul class="d-flex justify-content-center align-items-end flex-wrap gap-1">
                            {{#each room.facilities}}
                                <li class="d-flex flex-column justify-content-around align-items-center 
                                    p-2 border-bottom border-2 border-success">
                                    <img width="28" src={{iconUrl}}>
                                    {{label}}
                                </li>
                            {{/each}}
                        </ul>               

                    <div class="testimonials">
                        <div class="testimonial-item">
                            <span class="label">Price per Night: <strong class="text-info price">
                                    {{room.price}} €</strong></span>
                        </div>
                    </div>

                    <h3 class="mt-4">Accommodation Overview</h3>
                    <div class="portfolio-description">
                        <p>
                            {{room.description}}
                        </p>
                    </div>

                    <div class="d-flex justify-content-center">
                        <a class="mt-3 btn btn-outline-warning text-dark"
                            href="/facility/{{room._id}}/decorate-room">Decorate Room</a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Details Section -->